nimcache/
nimblecache/
htmldocs/

src/ComputeHFKv2/*
!src/ComputeHFKv2/Required-Changes.diff
src/planarmap/

test/HFK_data.json
test/scratchpad*
test/test_invariants
test/test_links
test/test_random_links
test/test_simplify
test/test_torus
test/test_twist
